<nav class="navbar navbar-default navbar-cd">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="home-link" class="navbar-brand" routerLink="/">
        <img class="img-responsive" src="./assets/images/IRVUI_Header_Icon.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav-main-wrapper">
        <ul class="nav navbar-nav nav-main">
          <li><a id="font-link" routerLink="/fonts">Fonts</a></li>
          <li><a id="color-link" routerLink="/colors">Colors</a></li>
          <li><a id="icon-link" routerLink="/icons">Icons</a></li>
        </ul>
      </div>
    </div>
    <div class="header-text-right pull-right clearfix">
      <h2>angular2</h2>
    </div>
  </div>
</nav>
